
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterOk</title>
</head>
<body>
    <div class="jumbotron">
        Congratulations, you have registered... Please activate your account by clicking on the activation link we sent to your email address...
    </div>
</body>
</html> 
<script>
    $(function () {

        setTimeout(function () {
            window.location = "/Account/SignUp/";
        }, 5000)


    })
</script>